/* 极空间 - 远程空间标题栏样式 */

/* 标题栏容器 */
.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
    background: linear-gradient(to right, #d4eaf7 20%, #b6ccd8); /* 渐变背景 */
}

/* 标题栏项目样式 */
.title-item {
    width: 40px;
    min-width: 60px;
    height: 60px;
    line-height: 60px; /* 垂直居中 */
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s; /* 过渡效果 */
    color: #333333; /* 文本颜色 */
}

/* 标题栏项目悬停效果（排除第三个项目即标题文字） */
.title-item:hover:not(:nth-child(3)) {
    background-color: #EBF5FF;
    color: #1E90FF;
}

/* 标题栏中间项目（标题文字）样式 */
.title-item:nth-child(3) {
    flex: 1; /* 占据剩余空间 */
    min-width: 700px;
}

/* 标题栏图标样式 */
.title-item i {
    font-size: 24px;
    color: #1E90FF;
}

/* 标题栏文字样式 */
.title-item h3 {
    letter-spacing: 2px; /* 字间距 */
    font-size: 24px;
    color: #333333;
    font-weight: 600; /* 字体粗细 */
}