@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1759838687064') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e668";
}

.icon-column-vertical:before {
  content: "\e669";
}

.icon-direction-up:before {
  content: "\e66c";
}

.icon-file-add:before {
  content: "\e66f";
}

.icon-refresh:before {
  content: "\e67b";
}

.icon-search:before {
  content: "\e67d";
}

.icon-upload:before {
  content: "\e682";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-arrow-down-bold:before {
  content: "\e687";
}

.icon-minus-bold:before {
  content: "\e688";
}

.icon-arrow-right-bold:before {
  content: "\e689";
}

